.idea/
**/venv/
**/.venv/
**/__pycache__/
**/jupyter/
build/
dist/
**/.ipynb_checkpoints/
.vscode/
optiland.egg-info/
**/Scripts/
/references/
htmlcov/
.coverage
**/_build/
**/auto_examples/
**/gui/
sg_execution_times.rst