[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "optiland"
version = "0.1.7"
authors = [
  { name="Kramer Harrison", email="kdanielharrison@gmail.com" },
]
description = ""
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
]
dependencies = [
    "numpy",
    "scipy",
    "pandas",
    "pyyaml",
    "matplotlib",
    "vtk",
    "tabulate",
    "numba",
    "requests",
    "seaborn"
]
license = { text = "MIT License" }

[project.urls]
"Homepage" = "https://github.com/HarrisonKramer/optiland"

[tool.setuptools]
packages = [
    "optiland",
    "database",
    "optiland.analysis",
    "optiland.geometries",
    "optiland.materials",
    "optiland.optimization",
    "optiland.rays",
    "optiland.samples",
    "optiland.surfaces",
    "optiland.tolerancing",
    "optiland.visualization"
]

[tool.setuptools.package-data]
"database" = ["*.csv", "*.yml", "**/*.yml"]